<%= form_for @note do |f| %>
  <div class="plant_monitor">
    <h1>Notes</h1>
    <td>
      <%= f.label :date %>
      <%= f.date_field :date %>
    </td>
    <td><%= f.text_area :comment, placeholder: "Additional comments" %></td>
    <p><%= f.submit "Add note" %></p>
  </div>
<% end %>