<tr>
  <td><%= plant_monitor.date %></td>
  <td><%= plant_monitor.plant_height %></td>
  <td><%= plant_monitor.water_ph %></td>
  <td><%= plant_monitor.tds_reading %></td>
  <td><%= plant_monitor.comment %></td>
</tr>